# 1.0 INTRODUCTION

## 1.1 Import Libraries

In [2]:
import numpy as np
import matplotlib as plt
import pandas as pd

# 2.0 DATA PROCESSING

## 2.1 Data Loading

In [3]:
# Load raw data
df = pd.read_csv("./data.csv")
print(df.head())
df.describe()

   Unnamed: 0                                          statement   status
0           0                                         oh my gosh  Anxiety
1           1  trouble sleeping, confused mind, restless hear...  Anxiety
2           2  All wrong, back off dear, forward doubt. Stay ...  Anxiety
3           3  I've shifted my focus to something else but I'...  Anxiety
4           4  I'm restless and restless, it's been a month n...  Anxiety

         Unnamed: 0
count  53043.000000
mean   26521.000000
std    15312.339501
min        0.000000
25%    13260.500000
50%    26521.000000
75%    39781.500000
max    53042.000000